<div class="masthead clearfix">
  <%= source_helper('application') %>
  <div class="inner">
    <h3 class="masthead-brand">Benjamin Marquis</h3>
    <nav class="nav nav-masthead app-nav">
      <%= nav_helper 'nav-link', 'span' %>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</div>
