<div class="app-card-container">
  <div class="card">
    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Office Address</h3>

        <p>5417 rue Saint Dominique</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "5146253571" %></p>

        <h3>Email</h3>

        <p><a href="mailto:bmarquiscom@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
      </div>

      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.2108751450733!2d-73.59732742226096!3d45.52596186035874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc9197c47aee137%3A0xe56b1320e52b06c!2s5417+Rue+Saint-Dominique%2C+Montr%C3%A9al%2C+QC+H2T+1V5!5e0!3m2!1sfr!2sca!4v1562263807533!5m2!1sfr!2sca" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> 
      </div>
    </div>
  </div>
</div>
